@model CVApp.Web.ViewModels.CandidateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Candidate</h2>
@using (Html.BeginForm("Create", "Candidates"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "+00 123-456-789" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Positions)
        @Html.DropDownListFor(m => m.PositionId, new SelectList(Model.Positions.ToList(), "Id", "Name"), new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Positions)
    </div>
    <div class="Resume">
        @Html.LabelFor(m => m.ResumeFile)
        @Html.TextBoxFor(m => m.ResumeFile, new {type = "file"})
    </div>   
    <div class="form-group">
        @Html.LabelFor(m => m.HasAcceptedAgreements)
        @Html.CheckBoxFor(m => m.HasAcceptedAgreements)
        @Html.ValidationMessageFor(m => m.HasAcceptedAgreements)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


