@model PagedList.IPagedList<CVApp.Web.Models.Candidate>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

<h1>Candidates</h1>
<ul class="candidates">
    @foreach (var candidate in Model)
    {
            <li>
                <div class="candidate">
                    <div class="name">
                        @candidate.FirstName
                    </div>
                    <div class="lastName">
                        @candidate.LastName
                    </div>
                    <div class="mail">
                        <a href="mailto:@candidate.EmailAddress">@candidate.EmailAddress</a>
                    </div>
                </div>
                <div class="details">
                    <div class="position">
                        @candidate.Position.Name
                    </div>
                    <div class="resume">
                            Download file
                    </div>
                </div>
            </li>
    }
</ul>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))